@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

tr,
td,
th {
  width: 100px;
  height: 30px;
  color: #666;
  font-size: 18px;
  text-align: center;
}

table {
  margin: 50px auto;
}

button {
  width: 150px;
  height: 40px;
  background-color: orange;
  border-radius: 5px;
  color: #fff;
  margin: 50px 500px;
}

h2 {
  color: green;
  margin: 5px;
}
